@import "tailwindcss";

:root {
  --background: #fbf6f1;
  --foreground: #223614;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-gopher);
  --font-mono: var(--font-gopher);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbf6f1;
    --foreground: #223614;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gopher), sans-serif;
  font-size: clamp(14px, 1vw + 12px, 16px);
  line-height: 1.6;
}